@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Notification";
}
@model PushNotificationModel

<div class="pb-3">
    <h3>Send Push Notification</h3>
</div>

<div>
    <form id="emailForm" class="py-2" asp-controller="PushNotification" asp-action="Index" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">To Users<br><small>(Hold <kbd>ctrl</kbd> select multiple)</small></label>
            <div class="col-sm-6">
                <select class="form-control" multiple asp-for="@Model.toUser"
                        asp-items="@Model.userList">
                </select>
                <span asp-validation-for="@Model.toUser" class="text-danger small font-italic"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Notification Title</label>
            <div class="col-sm-6">
                <input asp-for="@Model.title" type="text" class="form-control" placeholder="Title of your push notification">
                <span asp-validation-for="@Model.title" class="text-danger small font-italic"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Notification Content</label>
            <div class="col-sm-6">
                <input asp-for="@Model.content" id="messageBody" type="text" class="form-control" placeholder="Content of your push notification">
                <span asp-validation-for="@Model.content" class="text-danger small font-italic"></span>
            </div>
        </div>
        <div class="py-2">
            <button class="btn btn-info" type="submit">
                <i class="far fa-paper-plane pr-1"></i>
                <span>Push</span>
            </button>
            <button class="btn btn-outline-secondary" type="reset">
                <i class="fas fa-redo pr-1"></i>
                <span>Reset</span>
            </button>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#NotificationsLink").removeClass("text-dark");
            $("#NotificationsLink").addClass("text-danger");
        });
    </script>
}
