@{
    ViewData["Title"] = "Dashboard";
}
@model DashboardViewModel

<div class="row pt-2 pb-3 justify-content-center text-light">
    <div class="col-10 col-sm-6 col-md-4 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow d-flex flex-row py-3" style="background: linear-gradient(to top,#ff784a,#ff926d);">
            <div class="flex-grow-0 pl-4">
                <img class="img-fluid" width="70" src="~/img/order.svg" />
            </div>
            <div class="d-flex flex-column justify-content-around align-items-center flex-grow-1">
                <span class="lead font-weight-bolder pb-2">Total Order</span>
                <span class="lead font-weight-bolder pb-2">@Model.totalOrdersCount</span>
            </div>
        </div>
    </div>
    <div class="col-10 col-sm-6 col-md-4 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow d-flex flex-row py-3" style="background: linear-gradient(to top,#e15671,#e7758a);">
            <div class="flex-grow-0 pl-4">
                <img class="img-fluid" width="70" src="~/img/users.svg" />
            </div>
            <div class="d-flex flex-column justify-content-around align-items-center flex-grow-1">
                <span class="lead font-weight-bolder pb-2">Total User</span>
                <span class="lead font-weight-bolder pb-2">@Model.totalUsersCount</span>
            </div>
        </div>
    </div>
    <div class="col-10 col-sm-6 col-md-4 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow d-flex flex-row py-3" style="background: linear-gradient(to top,#0aab7b,#0cd096);">
            <div class="flex-grow-0 pl-4">
                <img class="img-fluid" width="70" src="~/img/couriers.svg" />
            </div>
            <div class="d-flex flex-column justify-content-around align-items-center flex-grow-1">
                <span class="lead font-weight-bolder pb-2">Total Courier</span>
                <span class="lead font-weight-bolder pb-2">@Model.totalCouriersCount</span>
            </div>
        </div>
    </div>
    <div class="col-10 col-sm-6 col-md-4 col-lg-3 mb-4 mb-lg-0">
        <div class="card shadow d-flex flex-row py-3" style="background: linear-gradient(to top,#8845f5,#aa7af8);">
            <div class="flex-grow-0 pl-4">
                <img class="img-fluid" width="70" src="~/img/income.svg" />
            </div>
            <div class="d-flex flex-column justify-content-around align-items-center flex-grow-1">
                <span class="lead font-weight-bolder pb-2">Total Payment</span>
                <span class="lead font-weight-bolder pb-2">@Model.totalPayments</span>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center py-3">
    <div class="col-11 col-sm-7">
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>
    <div class="col-11 col-sm-5"></div>
</div>

@section Heads
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" 
          integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
}

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" 
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#DashboardLink").removeClass("text-dark");
            $("#DashboardLink").addClass("text-danger");

            $.ajax({
                type: "POST",
                url: "@Url.Action("monthlyorders", "main")",
                contentType: "application/json",
                dataType: "json",
                success: function (d) {

                    let labels = new Array();
                    let data = new Array();
                    var a = new Date();
                    let length = 31;

                    for (i = 0; i < length; i++){
                        labels.push(`${i + 1}/${a.getMonth() + 1}`);

                        data.push(0);
                    }

                    d.forEach(function (dd) {
                        data[dd.day - 1] = dd.count;
                    });

                    var ctx = document.getElementById('myChart');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: '# Num of order',
                                data: data,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                ],
                                borderWidth: 1.4
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        suggestedMax: 10,
                                        step: 1
                                    }
                                }]
                            }
                        }
                    });
                }
            })
        });


    </script>
}
