@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Couriers";
}
@model IEnumerable<Couriers>

<div class="pb-3">
    <h2 class="has-text-weight-medium is-size-4">Couriers</h2>
</div>
<div class="is-flex is-justify-content-space-between pb-3">
    <div class="tags mb-0 ">
        <span class="tag is-clickable mb-0">All</span>
        <span class="tag is-clickable mb-0">Pending</span>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input class="input" type="search" placeholder="Search..">
            <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
            </span>
        </p>
    </div>

</div>
<div class="notification is-info">
    <button class="delete"></button>
    Courier registration accepted successfully.
</div>
<div><div class="table-container has-shadow box">
    <table class="table table is-narrow is-hoverable table is-fullwidth is-bordered is-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Profile</th>
                <th>Name</th>
                <th>Phone Num</th>
                <th>Email</th>
                <th>Vehicle Type</th>
                <th>Vehicle Plate No</th>
                <th>Documents</th>
                <th>Created At</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var d in Model)
                {
                <tr>
                    <td>@d.courier_id</td>
                    <td>
                        <figure class="image is-4by5">
                            <img src="http://localhost:57934/uploads/profile/@d.profile_picture">
                        </figure>
                    </td>
                    <td>@d.name</td>
                    <td>@d.phone_num</td>
                    <td>@d.email</td>
                    <td>@d.vehicle_type</td>
                    <td>@d.vehicle_plate_no</td>
                    <td>
                        @foreach (var dd in d.documents)
                        {
                            <a href="http://localhost:57934/uploads/document/@dd.document" target="_blank">@dd.name</a>
                            <br />
                        }
                    </td>
                    <td>@d.created_at</td>
                    <td>
                        <input type="checkbox" checked/>
                    </td>
                    <td>
                        <a asp-controller="Courier" asp-action="Accept" asp-route-cid="@d.courier_id" class="button is-success is-small">Accept</a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div></div>
